@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-primary: rgb(231 229 228);
  --text-color: rgb(27, 27, 31);
}

html.dark {
  --color-bg-primary: rgb(27, 27, 31);
  --text-color: rgb(231 229 228);
}

* {
  transition: all 500ms;
}
